body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header,
.footer {
  border-bottom: 1px solid #e7e9fc;
  background-color: #f8f8f8;
  padding: 20px 0;
}
.header-nav,
.address,
.footer,
.container {
  display: flex;
  align-items: center;
}
ul,
ol,
a {
  list-style-type: none;
}
.header-nav ul,
.contacts {
  display: flex;
  margin: 0;
  padding: 0;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #f8f8f8;
  padding: 20px 0;
}
.menu-nav {
  gap: 40px;
}
.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .logo {
  margin-right: 76px;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav ul li {
  margin-right: 15px;
}

.address {
  display: flex;
}

.address .contacts {
  display: flex;
  margin: 0;
  padding: 0;
}

.address .contacts li {
  margin-left: 15px;
}
.contacts {
  gap: 40px;
}
.address-contacts {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
}

.address-contacts:hover,
.address-contacts:focus {
  color: #404bbf;
}

.header-nav ul li,
.contacts li {
  margin-right: 15px;
}
.link-nav {
  padding: 24px 0;
}

.header-nav .link-nav,
.address-contacts,
.footer .logo,
.footer-item-role {
  margin-right: 30px;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
}
.span-header-logo,
.span-footer-logo {
  color: #4d5ae5;
}
.link-nav:hover {
  color: #404bbf;
}
.link-nav:focus {
  color: #404bbf;
}
.header-nav .logo,
.footer .logo {
  font-weight: 700;
  font-size: 24px;
}
.address-contacts:hover {
  color: #404bbf;
}
.address-contacts:focus {
  color: #404bbf;
}

.first-section {
  background-color: #2e2f42;
  color: #fff;
  text-align: center;
  padding: 188px 0;
}

.first-section-title {
  margin: auto;
  font-size: 48px;
  margin-bottom: 20px;
  max-width: 496px;
}

.first-section-button {
  margin: auto;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
.first-section-button:focus {
  background-color: #404bbf;
}

.first-section-button:hover {
  background-color: #404bbf;
}
.second-section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.second-section-list {
  display: flex;
  gap: 24px;
}
.second-section-item:first-child {
  flex-basis: calc((100% - 72px) / 4);
}
.second-section-item-title {
  font-size: 24px;
  margin-bottom: 8px;
}
.second-section-item-desc {
  font-size: 16px;
  color: #666;
  margin-bottom: 8px;
}
.third-section {
  padding: 120px 0;
}
.third-section-title {
  margin-bottom: 72px;
}
.third-section-list {
  display: flex;
  gap: 24px;
}

.third-section-item:first-child {
  flex-basis: calc((100% - 72px) / 4);
}
.third-section-item {
  border-radius: 0px 0px 4px 4px;
}
.third-section-content {
  padding: 32px 0px;
}
.third-section-item-title {
  text-align: center;
  margin-bottom: 8px;
}

.third-section-item-role {
  text-align: center;
}
.fourth-section {
  padding: 120px 0 120px 0;
}

.fourth-section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 72px;
}

.fourth-section-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
}

.fourth-section-item {
  width: calc((100% - 48px) / 3);
  margin-bottom: 20px;
  text-align: center;
}
.fourth-section-content {
  margin-bottom: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.fourth-section-item-title {
  font-size: 20px;
}

.fourth-section-item-role {
  font-size: 16px;
  color: #999;
}

.footer-item-role {
  display: inline-block;
  font-size: 16px;
  color: #999;
  text-align: center;
  margin: 20px 0 0 0;
}
.footer {
  padding: 100px 0;
}
.logo {
  margin-bottom: 16px;
}
