.body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
img {
  display: block;
  max-width: 100%;
}
.first-section {
  padding: 188px 0;
}
.first-section .container {
}
.first-header {
  max-width: 496px;
}
.first-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: var(--button-bg-color, #4d5ae5);
  border-radius: 4px;
  cursor: pointer;
}
.second-section {
  padding: 120px 0;
}
.second-section .container {
}

.second-list {
  display: flex;
  gap: 24px;
}
.list-item {
  width: calc((100% - 72px) / 4);
}
.list-header {
  margin-bottom: 8px;
}
.third-section {
  padding: 120px 0;
}
.third-section .container {
}
.third-header {
  margin-bottom: 72px;
}
.third-list {
  display: flex;
  gap: 24px;
}
.third-list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}
.fourth-section {
  padding: 120px 0;
}
.fourth-header {
  margin-bottom: 72px;
}
.fourth-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.app-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.app-item {
  width: calc((100% - 48px) / 3);
}
.app-name {
  margin-bottom: 8px;
}
.fourth-section .container {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.span-header-logo {
  color: #2e2f42;
}
.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.link-nav:hover {
  color: #404bbf;
}
.link-nav:focus {
  color: #404bbf;
}
.addres {
  font-style: normal;
  color: #434455;
}
.addres-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.addres-contacts:hover {
  color: #404bbf;
}
.addres-contacts:focus {
  color: #404bbf;
}

.first-section {
  background-color: #2e2f42;
}
.head {
  border-bottom: 1px solid #e7e9fc;
}
.head-container {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.first-section-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.first-section-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-order-service:focus {
  background-color: #404bbf;
}

.button-order-service:hover {
  background-color: #404bbf;
}
.second-section-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.second-section-item-desc {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #434455;
}
.third-section {
  background-color: #f4f4fd;
}

.third-section-title {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.fourth-section {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-item-role {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.span-footer-logo {
  color: #f4f4fd;
}
.third-section-item {
  background-color: #ffffff;
}
