/* Modern Normalize should be linked to from the HTML */
@import url("modern-normalize.min.css");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}

.menu {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-link {
  padding: 24px 0;
  text-decoration: none;
  color: inherit;
}

.contacts-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* First section styles */
.first-section {
  padding: 188px 0;
}

.first-section-title {
  max-width: 496px;
  margin: 0 auto;
  text-align: center;
}

.first-section-button {
  display: block;
  margin: 24px auto 0;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

/* Second section styles */
.second-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.second-section-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.second-section-item {
  width: calc((100% - 72px) / 4);
}

.second-section-item-title {
  margin-bottom: 8px;
}

/* Third section styles */
.third-section {
  padding: 120px 0;
}

.third-section-title {
  margin-bottom: 72px;
}

.third-section-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.third-section-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
}

.third-section-content {
  padding: 32px 16px;
  text-align: center;
}

.third-section-item-title {
  margin-bottom: 8px;
}

/* Fourth section styles */
.fourth-section {
  padding: 120px 0;
}

.fourth-section-title {
  margin-bottom: 72px;
}

.fourth-section-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fourth-section-item {
  flex: 1 1 calc((100% - 48px) / 3);
}
